<section id="about" class="section">
 <div class="container text-center">
   <img src="./assets/YASSINE NACHAT.png" alt="Yassine Nachate" class="about-img">
   <h2>About Me</h2>
   <p>
     My name is <strong>Yassine Nachate</strong>. I am a passionate Full Stack Engineer with expertise in web and mobile development. I have a degree in Information Systems Engineering, specializing in software development, from the Institut Supérieur des Ingénieurs et des Affaires (ISGA) in Marrakech.
   </p>
   <p>
     Over the years, I have worked on several innovative projects such as web applications for event management, e-commerce platforms, and fleet management systems. My work combines technical expertise with creativity, ensuring solutions that are efficient, scalable, and user-friendly.
   </p>
   <p>
     I am always looking for opportunities to learn and grow. With a strong foundation in technologies like React.js, Symfony, Angular, and Spring Boot, I aim to contribute to projects that make an impact while continuing to enhance my skills.
   </p>
 </div>
</section>